.profile {
  width: 340px;
  margin: 0 auto 15px;
  background-color: rgb(184, 211, 241);
  text-align: center;
  box-shadow: -5px -5px 5px -5px rgba(48, 106, 150, 0.6) inset;
}

.description {
  padding: 20px 40px;
}

.avatar {
  background-color: white;
  border-radius: 10%;
  margin-bottom: 20px;
}

.name {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 20px;
}

.tag {
  margin: 0 0 10px 0;
}

.stats {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(207, 221, 218);
  border-top: 1px solid rgb(42, 65, 63);
}

.item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  padding: 20px;
}

.item:not(:last-child) {
  border-right: 1px solid rgb(160, 151, 151);
}

.quantity {
  font-weight: 500;
  font-size: 18px;
}
