.item {
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 10px;
  background: rgb(164, 217, 238);
  border: 1px solid rgb(65, 176, 240);
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.avatar {
  padding: 8px;
}
